@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Authentication;

<h3> Bu sayfayı sadece üye olan kullanıcılar görebilir. </h3>

<h4>Claim Verileri</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h4>Authentication Verileri</h4>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Auth Property Type </th>
            <th>Auth Property Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>